#firstpara{
   color: red;
   background-color: pink;
   height: 150px;
   width: 500px;
   border: 5px;
   border-style: solid;
   border-color: cyan;
   border-radius: 13px;
}
#secondpara{
   color: green;
   background-color: palegreen;
   height: 150px;
   width: 500px;
   border-top: 5px solid rebeccapurple;
   border-bottom: 5px solid indianred;
   border-left: 5px solid green;
   border-right: 5px solid cyan;
   border-bottom-left-radius: 20px;
   border-top-right-radius: 20px;
   
}
#thirdpara{
   color: blue;
   background-image: url(https://picsum.photos/80/80);
   background-position: center center;
   background-repeat: no-repeat;
   height: 150px;
   width: 500px;
   border: 5px solid brown;
   
}