p{
    color: white;
    background-color: pink;
}
.primaryfont{
    line-height: 1.8em;
    font-size: 20px;
    /* 1/96th is equal to 1 inch */
    font-family: 'WindSong',Arial, Helvetica, sans-serif;
}

span{
    font-weight: bold;
    font-style: italic;
}