.navbar{
    background-color: rgb(53, 147, 175);
    border-radius: 23px;
}
.navbar ul{
    overflow: auto;
}
.navbar li{
    float: left;
    list-style: none;
    margin: 13px 13px;
}
.navbar li a{
    padding: 3px 3px;
    text-decoration: none;
    color: white;
}
.search{
    float: right;
    padding: 12px 52px;
}
.search input{
    border: 2px solid rgb(53, 147, 175);
    border-radius: 23px;
}
#searchicon{
  float: left;
  width: 20px;
  height: 20px;
  margin-right:5px;
}
.navbar li a:hover{
    color: black;
}